html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px; /* vai tik, cik augsts ir footer */
}

.container {
    flex: 1 0 auto;
}

header {
    background: #462661;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #462661;
    color: #fff;
    text-align: center;
    padding: 18px 0;
    z-index: 100;
}

body {
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            margin: 0;
            padding: 0;
    }
footer {
        background: #462661;
        color: #fff;
        text-align: center;
        padding: 18px 0;
    }
        .navbar {
    background: #222;
    padding: 0;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar li {
    margin: 0;
}
.navbar a {
    display: block;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    transition: background 0.2s;
}
.navbar a:hover, .navbar a.active {
    background: #444;
    border-bottom: 3px solid #b9189f;
}
